<div class="jumbotron jumbotron_home">
	<div class="container">
		<h1>You have a startup idea<br/> and don't find <br/>a technical co-founder?</h1>
		<div class="row">
			<div class="col-md-8">
				<p>We make your startup idea ready for investors in 6 months.</p>

				<p>Even if you have no technical knowledge at all, <br/>if you follow our program, it will take you:</p>	
				<table>
					<tr>
						<td><span class="home_time">1 hour</span></td>
						<td>to analyze your business idea</td>
					</tr>
					<tr>
						<td><span class="home_time">1 day</span></td>
						<td>to build a landing page to test traction</td>
					</tr>
					<tr>
						<td><span class="home_time">1 week</span></td>
						<td>to build a demo to show to potential users</td>
					</tr>
					<tr>					
						<td><span class="home_time">6 months</span></td>
						<td>to build a prototype or Minimal Viable Product (MVP) which is ready for investors</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4 jumbotron_button">		

				<%= link_to "Want to know more?", week1_path, :class => "btn btn-primary btn-lg" %>
			</div>
		</div>
			
	</div>
</div>

<div class="container">
	<section>
		<p>We coach you in talking with potential customers. During interviews with potential customers you will learn whether you try to solve the right problems.</p>
	<!-- this is rather an alternative UVP
		<p>You don't find a technical co-founder? That's a bad excuse.</p>
	-->
		<p>Startup founders and investors want the same thing: traction.
		Build traction for your startup idea from day one. Even if you don't have coding skills.</p>
	</section>

	<!--<%= link_to "Want to know more?", week1_path, :class => "btn btn-primary btn-lg" %>-->
	
	<section>
	<h2>What do we mean with 'ready for investors'?</h2>

	<p>Because you constantly talk with potential users and customers while you shape your product, you will create a product that customers want. At the end of the program you will have a working application with real users. You will also gather data about your users which show to investors how you built traction.</p>

	<p>To estimate the growth potential of your startup, investors want to know about your 'Pirate Metrics' funnel.</p>

	<%= image_tag "key-metrics.png", :id => "key-metrics" %>

	<p>While you are working on your product you will gather data about acquisition, activation, retention, revenue and referral. At the end of the program, you will be able to write a rapport similar to the one below.</p>
	</section>

	<div class="alert alert-info" role="alert">
		<p>Comment 1: In some cases such a rapport should rather be a slidedeck or Powerpoint presentation.</p>
		<p>Comment 2: The data below are fictious. It is a startup idea that we are working on ourselves, but the figures are made up.</p>
	</div>

	<div id="rapport">
	<h3>Business overview (lean canvas)</h4>
	<p>MerchCount is a service for musicians, tour managers or merch companies to keep track of what they sell at the merch table after a show.</p>

	<p>With a mobile-friendly and user friendly app they keep record of the products they sell, how much money they have in the cash register and which amounts of items they actually sell. All data is stored in a database and is easily accessible in the future. People can stop making lists with pen and paper or storing sales data in Excel files.

	<%= image_tag "leancanvas-merchcount.png", :id => "leancanvas-merchcount" %>

	<h3>Landing page</h3>
	
	<p>At the start of the project we build the following landing page to test the first interest of potential users: <%= link_to "our first landing page", "#" %>.</p>
	
	<h3>Early stage demo</h3>

	<p>This was our first demo app that we used to show to potential users during solution interviews: <%= link_to "demo", "#" %>.</p>

	<h3>The Minimal Viable Product</h3>

	<p>This is our current production site: <%= link_to "MerchCount", "#" %>.	
	<h3>Metrics</h3>

	<h4>Acquisition</h4>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>CHANNEL</th>
				<th>%</th>
				<th>signups</th>
				<th>pageviews</th>
				<th>acquisition rate</th>
				<th>acquisition cost/user</th>
			</tr>
		</thead>
			<tbody>
			<tr>			
				<td><em>total</em></td>
				<td><em>100,00%</em></td>
				<td><em>1361</em></td>
				<td><em>15603</em></td>
				<td><em>8,72%</em></td>
				<td></td>	
			</tr>	
			<tr>
				<td>personal network</td>
				<td>3,89%</td>
				<td>53</td>
				<td>284</td>
				<td>18,66%</td>
				<td>12 hours in total = 13 minutes/user</td>
			</tr>
			<tr>
				<td>Facebook ads</td>
				<td>94,42%</td>
				<td>1285</td>
				<td>14839</td>
				<td>8,66%</td>
				<td>€ 0.24</td>
			</tr>
			<tr>
				<td>flyers (tour van dealer)</td>
				<td>1,69%</td>
				<td>23</td>
				<td>480</td>
				<td>4,79%</td>
				<td>printing 5000 flyers (€ 160) = € 6,97/user</td>
			<tr>
		</tbody>
	</table>

	<p>We used three acquistion strategies.</p>

	<p>First, we used our <strong>personal network</strong> of musicians and people in the music industry. This lead to 53 subscribers and a very high acquisition rate of 18,66 %. We spend 12 hours on this, which means it costed us less than 15 minutes per subscribed user. However, this acquisition method is quite difficult to scale.  We can hire a sales person, but the acquisition rate will be less high, because the personal connection between founders and friends/colleagues is lost.</p>

	<p>The most important acquisition channel was <strong>Facebook ads</strong>. Via the ads we acquired 1285 users. By A/B testing our ads we were able to optimize the conversion rate to 8,66 % and the acquisition cost per subscribed user to € 0,24.</p>

	<p>We also tried to acquire users with <strong>flyers</strong>. We made a deal with a company which rents tour vans to bands. This company included our flyer in the envelop with the rental agreement. However, the amount of signups from this flyers was rather low, especially if you take the cost of print into account.</p>

	<h4>Activation</h4>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>CHANNEL</th>
				<th>month 1</th>
				<th>month 2</th>
				<th>month 3</th>
				<th>month 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><em>average</em></td>
				<td>16,40%</td>
				<td>14,83%</td>
				<td>18,14%</td>
				<td>19,84%</td>
			</tr>
			<tr>
				<td>personal network</td>
				<td>20,45%</td>
				<td>--</td>	
				<td>--</td>
				<td>--</td>
			</tr>
			<tr>
				<td>Facebook ads</td>
				<td>12,34%</td>
				<td>14,83%</td>
				<td>23,45%</td>
				<td>22,83%</td>
			</tr>
			<tr>
				<td>flyers (tour van dealer)</td>
				<td>--</td>
				<td>--</td>
				<td>12,83%</td>
				<td>16,84%</td>
			</tr>
		</tbody>
	</table>

	<p>We consider the user to have a first satisfactory experiment with the app, if he saves a selling event with some products and the number of items he sold.</p>

	<p>During the first two months the activation rate was around 15 %. After two months we improved our onboarding experience by researching the reasons why users stopped using the app. The new onboarding experience resulted in a better activation rate of about 20%.</p>

	<h4>Retention</h4>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>CHANNEL</th>	
				<th>month 1</th>	
				<th>month 2</th>
				<th>month 3</th>
				<th>month 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><em>average</em></td>
				<td>5,27%</td>
				<td>4,59%</td>
				<td>3,99%</td>
				<td>4,81%</td>
			</tr>
			<tr>
				<td>personal network</td>
				<td>5,83%</td>
				<td>4,84%</td>
				<td>4,34%</td>
				<td>6,02%</td>
			</tr>
			<tr>
				<td>Facebook ads</td>
				<td>4,71%</td>
				<td>4,33%</td>
				<td>3,83%</td>
				<td>4,48%</td>
			</tr>
			<tr>
				<td>flyers (tour van dealer)</td>
				<td>--</td>
				<td>--</td>
				<td>3,80%</td>
				<td>3,93%</td>
			</tr>
		</tbody>
	</table>

	<p>We consider a user as a returning user if he creates at least one selling event a month.</p>

	<p>Our retention rates went from 5,27% in the beginning to 3,99% in the third month. At this moment we set up a better automated email system to reactivate sleeping users. This lead to an increase of the retention rate back to 4,81 %.</p>

	<h4>Revenue</h4>


	<table class="table table-bordered">
		<thead>
			<tr>
				<th>CHANNEL</th>	
				<th>month 1</th>	
				<th>month 2</th>
				<th>month 3</th>
				<th>month 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><em>average</em></td>
				<td>--</td>	
				<td>4,07%</td>
				<td>3,63%</td>
				<td>4,04%</td>
			</tr>
			<tr>
				<td>personal network</td>
				<td>--</td>
				<td>4,22%</td>
				<td>4,34%</td>
				<td>5,35%</td>
			</tr>
			<tr>
				<td>Facebook ads</td>
				<td>--</td>
				<td>3,92%</td>
				<td>3,79%</td>
				<td>4,23%</td>
			</tr>
			<tr>
				<td>flyers (tour van dealer)</td>
				<td>--</td>
				<td>--</td>
				<td>2,77%</td>
				<td>2,55%</td>
			</tr>
		</tbody>
	</table>

	<p>Our revenue rate is about 4 %. This is the amount of users that switch to a monthly paid plan after the one month free trial. The monthly plan is € 9,99 per user.</p>

	<p>If we take into the account the acquisition cost per user for the Facebook ads and multiply it with the revenue rate, this actually means that it costs us € 5,76 to acquire a paying user. We already earn this back after the first month. If we manage to keep a user for one year, we earn  € 114 every year per user.</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>acquisition cost</th>
				<th>acquisition*revenue rate</th>
				<th>montly revenue/user</th>
				<th>profit/user over 1 year</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>personal network</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Facebook ads</td>
				<td>€ 0,24</td>
				<td>€ 5,67</td>
				<td>€ 9,99</td>
				<td>€ 114,21</td>
			</tr>
			<tr>
				<td>flyers (tour van dealer)</td>
				<td>€ 6,95</td>
				<td>€ 272,55</td>
				<td>€ 9,99</td>
				<td>€ -152,67</td>
			</tr>
		</tbody>
	</table>


	<p>It is our goal to grow the amount of customers to 5000 the next year and to 50.000 in three years. If we extrapolate our current figures, this will lead to the following revenue projections.</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>now</th>
				<th>after 1 year</th>
				<th>after 2 years</th>
				<th>after 3 years</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>paying users</td>
				<td>55</td>	
				<td>5.000</td>	
				<td>20.000</td>
				<td>50.000</td>
			</tr>
			<tr>
				<td>revenue</td>
				<td>€ 6.281</td>
				<td>€ 571.031</td>
				<td>€ 2.284.125</td>
				<td>€ 5.710.312</td>
			</tr>
		</tbody>
	</table>


	<p>To reach this goals we would like to extend our team with 2 software developers and 2 people with a marketing or growth hacking profile.</p>
	</div>
</div>