<div class="jumbotron">
	<div class="container">
		<h2>Week 2</h2>
		<p>Conduct problem interviews with potential customers.</p>
		<p>Learn some extra coding skills to build a demo for your app.</p>
	</div>
</div>

<div class="container">
	<ul class="nav nav-pills">
	  <li role="presentation"><%= link_to "Week 1", week1_path %></li>
	  <li role="presentation" class="active"><%= link_to "Week 2", week2_path %></li>
	  <li role="presentation"><%= link_to "Week 3", week3_path %></li>
	</ul>
	<section>
		<p>The demo can show the complete user flow, how users go from screen to screen. However, it doesn't store user data. That's why it is still a demo.</p>
		<p>For this demo we will use the JQuery Mobile framework. This framework is used to have mobile like user interfaces. With the basic html and css knowledge that your learned last week, you will be able to build the complete flow of your demo app.</p>

		<p>Even if your app is not meant to be mobile in the first place, it is a good idea to think about your user interface from the mobile perspective. Because you don't have much screen real estate, it forces you to think out a clean and simple user design.</p>

		<p>Feedback on demo: 99 €</p>
	</section>
</div>