<div class="jumbotron">
	<div class="container">
		<h2>Week 3</h2>
	</div>
</div>
<div class="container">
	<ul class="nav nav-pills">
	  <li role="presentation"><%= link_to "Week 1", week1_path %></li>
	  <li role="presentation"><%= link_to "Week 2", week2_path %></li>
	  <li role="presentation" class="active"><%= link_to "Week 3", week3_path %></a></li>
	</ul>
	<section>
		<p>Conduct solution interviews with potential customers</p>
		<p>Coding: it gets a little harder now. We really need to dive into coding and it will take you some weeks to grasp the most important concepts and to start building your own app.</p>
		<p>Please take contact with us if you want us to build your MVP.</p>
		<p>Rubyonrailstutorial.org: first chapters until static pages</p>
		<p>Let's create our own static pages in a new Rails app.</p>
		<p>rails generate controller StaticPages home thanks confirm</p>
		<p>Put the landing page you already have on the home page of your rails app.</p>
		<p>Design a thank you page and confirm page and let Mailchimp refer to it.</p>

		<h2>Week 4</h2>
		<p>The rest of RoR tutorial.</p>
		<p>split gem for A/B testing?</p>
		<p>Apply what you learned in the RoR tutorial on your own app. Now it is really time for coaching!</p>
	</section>
</div>
