
<div class="jumbotron">
	<div class="container">
		<h2>Week 1</h2>
		<p>Analyse your business idea and get ready to talk with potential customers.</p>
		<p>Learn the basics of html and css and build your first landing page to test traction.</p>
	</div>
</div>
<div class="container">
	<ul class="nav nav-pills">
	  <li role="presentation" class="active"><%= link_to "Week 1", week1_path %></li>
	  <li role="presentation"><%= link_to "Week 2", week2_path %></li>
	  <li role="presentation"><%= link_to "Week 3", week3_path %></a></li>
	</ul>
	<section>
		During this first week of your startup you will:
		<ul>
			<li>Analyse your plan with the lean canvas. This gives you a quick overview of your business concept.</li>
			<li>Learn html and css basics in 4 hours at <a href="http://www.codecademy.com/en/skills/make-a-website">Codecademy</a>: In this joyful course you will learn the basics of how web pages are built. You will remake the homepage of AirBnB.</li>
		</ul>
	</section>
	<section>
		<h4>Learn to code if you have no prior knowledge?</h4>
		<p>In my opinion it is the best thing you can do for your startup if you don't have a technical co-founder at this moment.</p>

		<p>Even if you have a technical co-founder, a basic understanding of html, css and some coding principles will help you a lot to grow your business.</p>

		<p>Even the job of people with a marketing profile inside a startup company is getting more technical. More and more often the marketing people are called growth hackers. They do marketing experiments but they 'hack' together some web pages to test user acquisition and retention strategies.</p>

		<p>Having a basic understanding of the most basic building blocks of internet pages, i.e. html and css, is something that will benefit everyone. In this fun 4 hour tutorial on <a href="http://www.codecademy.com/en/skills/make-a-website">Codecademy</a> you will rebuild the home page of AirBnB. While doing this, you will learn how you structure your web pages and how you will make them look good with some styling options. After this course, you will be able to have much better conversations with web designers, software coders and front-end developers.</p>

		<p>So get started at <a href="http://www.codecademy.com/en/skills/make-a-website">Codecademy</a>!.

		<h4>Make your own landing page</h4>

		<p>When you finished the tutorial at <a href="http://www.codecademy.com/en/skills/make-a-website">Codecademy</a>, you are ready to create your own landing page.</p>

		<p>First, we need to set up our software coding environment. Tech people call this an IDE. We advise you to use an IDE in the cloud as a beginner. This means that you will code in an internet browser. There are also a lot of possibilities to create a coding environment locally on your computer. However, you might run into problems to set everything up and make things work. We advise you to use Cloud9.io as a cloud IDE environment. Let's get started!</p>

		<ul>
			<li>Sign up at Cloud9.io</li>
			<li>Create your first project and give it a name. Choose "clone from an existing project" and fill in...</li>
		</ul>

		<p>It takes some time for your environment to load. If everything is ready, you see three areas on the screen. At the left, you see the file structure of your project. It contains a file called 'index.html' and another one called 'custom.css'. There are also a bunch of folders.</p>

		<p>At the bottom, there is a small area that we call the terminal or Unix prompt. Later on, we will use it to type in some geeky commands, but at the moment we don't need it yet.</p>

		<p>Double click on 'index.html' in the file structure on the left. The fill will open in the main area. If you take a look at the code, you will see that it looks exactly like the code you wrote for the AirBnB page in the Codecademy tutorial. The 'custom.css' file contains all our stylings and the folder 'assets' contains all the files that we need to use the Bootstrap framework.</p>

		<p>Let's see how the page would look like if people visit our website. Info on running the app...</p>

		<p>With the knowledge you have about html and css, you can now start adapting the content and the lay-out of the site according to your own taste. Of course, you need to come up with your own tag line and convincing content to attract users. That is why it was so important to think about your Unique Value Proposition while working out the Lean Canvas.</p>

		<p>There is a lot of information to be found on the internet about creating compelling landing pages. Example from Vlad!!!. It is also a good idea to visit the landing pages of a lots of other apps to get some inspiration about your own landing page.</p>

		<h4>Create a sign up form with Mailchimp</h4>

		<p>If you took a look at other landing pages, you might have noticed that we miss an important feature on our own landing page: a signup form!</p>

		<p>In this early stage it is a good idea to use Mailchimp to gather email addresses.</p>
		<ul>
			<li>Sign up for Mailchimp</li>
			<li>Create a list</li>
			<li>Embed the html form in our landing page</li>
			<li>Optional: change the text of the opt-in email</li>
		</ul>

		<h4>Let's make this landing page real on our own url!</h4>

		<p>Although we can already preview our landing page on the url that Cloud9.io provides to us, this is not really a running website to which you can send potential users. Cloud9.io is a development environment and if you don't use it for some time, it closes down your preview website.</p>

		<p>To get our website to the public we need to set up a 'production environment'.</p>

		<ul>
			<li>Rename index.html to index.php</li>
			<li>Set up a git repository: git init, git add -A, git commit -m "first landing page"</li>
			<li>Sign up at Heroku.</li>
			<li>heroku login</li>
			<li>heroku create yourappname</li>
			<li>git push heroku master</li>
		</ul>

		<p>If you want to use your own domain:</p>

		<ul>
			<li>buy your domain somewhere</li>
			<li>heroku add domain</li>
			<li>set the CNAME to the heroku url</li>
		</ul>	
		     
		<h3>Get feedback on how you are doing!</h3>
		<p>Do you want our feedback on your landing page for free? Fill in your url:</p>
	</section>
		
</div>
