
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron_home {
    position: relative;
    background: #000 image-url("free-laptop.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #ffffff;
}

.jumbotron_button {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

h2, h3, h4 {
	margin-top: 50px;
	margin-bottom: 30px;
}

.home_time {
	font-size: 1.6em;
	margin-right: 20px;
}

#rapport {
	background-color: #FAF6E8;
	padding: 15px;
	border-radius: 3px;
}


#rapport .table {
	background-color: #ffffff;
	width: 80%;

	td {
		text-align: right;
	}

	th {
		text-align: right;
	}
}		

#key-metrics {
	width: 50%;
}

#leancanvas-merchcount {
	width: 80%;
	margin-top: 50px;
}

/* landing page */

.signup-input {
	width: 200px;
	text-align: center;
}
